.header-title {
  height: 80px;
  text-align: center;
  background-color: #003a70;
}

.title {
  font-size: 30px;
  margin-top: 10px;
  color: #ffcb05;
  text-align: center;
  font-weight: lighter;
  font-family: "Pokemon Solid";
}

.main-content {
  overflow-x: hidden !important;
}

.ant-card-head-title {
  text-align: center;
  color: white !important;
}

.card-box-1 {
  text-align: center;
  margin-top: 20px !important;
}

.card-box-1, .card-box-2, .card-box-3 {
  font-family: "Gameboy";
  margin-left: 100px !important;
  border-color: #353951 !important;
  background-color: #353951 !important;
}

.card-1, .card-2, .card-3,
.card-4, .card-5, .card-6 {
  width: 200px;
  height: 150px !important;
  border-radius: 20px !important;
}

.lineup-img {
  height: 100px !important;
  width: 90px !important;
}

.card-1 {
  margin-right: 20px !important;
  border-color: #48a9a6 !important;
  background-color: #48a9a6 !important;
}

.card-2 {
  margin-right: 20px !important;
  border-color: #c1666b !important;
  background-color: #c1666b !important;
}

.card-3 {
  border-color: #d4b483 !important;
  background-color: #d4b483 !important;
}

.card-4 {
  margin-top: 20px !important;
  margin-right: 20px !important;
  border-color: #6369d1 !important;
  background-color: #6369d1 !important;
}

.card-5 {
  margin-top: 20px !important;
  margin-right: 20px !important;
  border-color: #9cfc97 !important;
  background-color: #9cfc97 !important;
}

.card-6 {
  margin-top: 20px !important;
  border-color: #6cd4ff !important;
  background-color: #6cd4ff !important;
}

.card-box-2 {
  width: 700px;
  text-align: justify;
  float: left !important;
}

.card-data {
  padding-top: 10px !important;
  padding-left: 100px !important;
}

.card-box-3 {
  text-align: center;
  margin-top: 20px !important;
}

.pokemon-type, .pokemon-weight, .pokemon-height {
  text-align: justify;
  margin-left: 50px;
}

.pokedex-row {
  background-color: white !important;
}

.add-btn {
  float: right;
  font-size: small !important;
  margin-right: 30px !important;
  border-radius: 10px !important;
  background-color: #3ac278 !important;
}

.pokemon-img {
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 200px !important;
  max-width: 200px !important;
}

.pokemon-name {
  font-size: larger;
}

.stats-class, .stats,
.type, .name {
  font-weight: bolder;
}

.name-content, .type-content, .stats-content,
.pokemon-type-content, .pokemon-height-content,
.pokemon-weight-content {
  color: #5d5f61;
  font-weight: lighter;
}

.card-data {
  padding-left: 0px !important;
}

.div-data {
  padding-left: 30px;
}
