body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353951 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(./fonts/pokemon/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: 'Gameboy';
  src: url(./fonts/early_gameboy/Early\ GameBoy.ttf);
}
